<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>developer.hsingll.sapquicklogin</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>118228AE-EF0F-48D4-AE63-F97A9290F4FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A84C470-B31B-4572-A5DD-3E02E79936F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F19CA62-6862-4E9E-85D1-C5807B674972</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE6AAD03-0089-46C9-AF75-0267BC2FDEC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55A13679-A7E9-4FE1-8698-0DB4871F7351</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E68C8475-EC8E-4B7F-83AA-B0D80CFEE2AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F6E08EB-C201-4FD5-8280-B3FB43052851</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C99B257-7A5C-4A2B-9E31-BE650CE40A01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>625686EF-4937-4A5B-8D2B-0F535DFB8D07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A54BEC0-801C-4CD7-B304-2F504A927292</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DF6D9B4-D240-4F42-BE92-EB091A3FE3AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4D2884E-782E-47D2-B132-3454D4F28365</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FEE5D3F-291D-4C60-BA88-48EB7A23A78C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>967E625E-D870-4298-9A7A-97C043740D99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7748EFEA-4CDB-4F47-9E2C-7E2423974FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FEE5D3F-291D-4C60-BA88-48EB7A23A78C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F19CA62-6862-4E9E-85D1-C5807B674972</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>967E625E-D870-4298-9A7A-97C043740D99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C16AB1FF-BA8E-4004-A67B-85A0552F1565</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A54BEC0-801C-4CD7-B304-2F504A927292</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>118228AE-EF0F-48D4-AE63-F97A9290F4FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A10AF7DF-1863-4C53-8CE4-CA920C491875</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F6E08EB-C201-4FD5-8280-B3FB43052851</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4D2884E-782E-47D2-B132-3454D4F28365</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>625686EF-4937-4A5B-8D2B-0F535DFB8D07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE6E5CA2-DA4E-4E10-8E0B-73986CCF8782</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7748EFEA-4CDB-4F47-9E2C-7E2423974FEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C16AB1FF-BA8E-4004-A67B-85A0552F1565</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE6AAD03-0089-46C9-AF75-0267BC2FDEC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE0FDD58-6EA6-469E-8730-5CC51BD23373</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1393A12-29DD-4318-ACB4-2C0B30ACDC7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DF6D9B4-D240-4F42-BE92-EB091A3FE3AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E68C8475-EC8E-4B7F-83AA-B0D80CFEE2AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C99B257-7A5C-4A2B-9E31-BE650CE40A01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE6AAD03-0089-46C9-AF75-0267BC2FDEC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE0FDD58-6EA6-469E-8730-5CC51BD23373</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ling Leixing</string>
	<key>description</key>
	<string>SAP Quick Login</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SAP Quick Login</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 virtualmachine-filter.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>VM Selector</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>967E625E-D870-4298-9A7A-97C043740D99</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6FEE5D3F-291D-4C60-BA88-48EB7A23A78C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C16AB1FF-BA8E-4004-A67B-85A0552F1565</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Oops!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E1393A12-29DD-4318-ACB4-2C0B30ACDC7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># check argv scorer
python3 scorer-check.py
# check argv SAPUILandscape
python3 sapuilandscape-check.py
# check argv RegExrPWEnc
python3 regexrpwenc-check.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE0FDD58-6EA6-469E-8730-5CC51BD23373</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># 获取默认虚拟机的uuid
python3 get-default-vm-uuid.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7748EFEA-4CDB-4F47-9E2C-7E2423974FEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>SAP</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>SAP Quick Login</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE6E5CA2-DA4E-4E10-8E0B-73986CCF8782</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>uuid</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EE6AAD03-0089-46C9-AF75-0267BC2FDEC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3F19CA62-6862-4E9E-85D1-C5807B674972</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 login.py "$uuid" "$shortcut"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>118228AE-EF0F-48D4-AE63-F97A9290F4FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Logging...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A84C470-B31B-4572-A5DD-3E02E79936F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 sapshortcut-filter.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Shortcut Selector</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A4D2884E-782E-47D2-B132-3454D4F28365</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6DF6D9B4-D240-4F42-BE92-EB091A3FE3AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>625686EF-4937-4A5B-8D2B-0F535DFB8D07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>shortcut</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A54BEC0-801C-4CD7-B304-2F504A927292</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>encp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Encrypt password to ciphertext</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>55A13679-A7E9-4FE1-8698-0DB4871F7351</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 enc-password.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E68C8475-EC8E-4B7F-83AA-B0D80CFEE2AB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4C99B257-7A5C-4A2B-9E31-BE650CE40A01</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>decp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Decrypt password to plaintext</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A10AF7DF-1863-4C53-8CE4-CA920C491875</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 dec-password.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5F6E08EB-C201-4FD5-8280-B3FB43052851</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A workflow for quickly logging on SAP system with SAP GUI for Windows in Parallels Desktop VM.</string>
	<key>uidata</key>
	<dict>
		<key>118228AE-EF0F-48D4-AE63-F97A9290F4FA</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>3F19CA62-6862-4E9E-85D1-C5807B674972</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>4C99B257-7A5C-4A2B-9E31-BE650CE40A01</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>55A13679-A7E9-4FE1-8698-0DB4871F7351</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>5F6E08EB-C201-4FD5-8280-B3FB43052851</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>625686EF-4937-4A5B-8D2B-0F535DFB8D07</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>6A84C470-B31B-4572-A5DD-3E02E79936F2</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>6DF6D9B4-D240-4F42-BE92-EB091A3FE3AB</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>6FEE5D3F-291D-4C60-BA88-48EB7A23A78C</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>7748EFEA-4CDB-4F47-9E2C-7E2423974FEC</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>967E625E-D870-4298-9A7A-97C043740D99</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>9A54BEC0-801C-4CD7-B304-2F504A927292</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>A10AF7DF-1863-4C53-8CE4-CA920C491875</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>A4D2884E-782E-47D2-B132-3454D4F28365</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>AE6E5CA2-DA4E-4E10-8E0B-73986CCF8782</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>C16AB1FF-BA8E-4004-A67B-85A0552F1565</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>DE0FDD58-6EA6-469E-8730-5CC51BD23373</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>E1393A12-29DD-4318-ACB4-2C0B30ACDC7F</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>E68C8475-EC8E-4B7F-83AA-B0D80CFEE2AB</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>EE6AAD03-0089-46C9-AF75-0267BC2FDEC0</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>zh_CN</string>
				<key>pairs</key>
				<array>
					<array>
						<string>English</string>
						<string>en_US</string>
					</array>
					<array>
						<string>简体中文</string>
						<string>zh_CN</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>Please select a VM file( *.pvm )</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>The default VM logging on SAP system.
Manually select if empty.</string>
			<key>label</key>
			<string>Default VM</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>defaultVM</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>FuzzyWuzzy required when checked.
Run command `python3 -m pip install --upgrade --user fuzzywuzzy` to install.</string>
			<key>label</key>
			<string>Enable fuzzy matching</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>enableFuzzywuzzy</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>31</string>
				<key>placeholder</key>
				<string>Please enter an integer of [1, 100]</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The lower limit of similarity of fuzzy matching.</string>
			<key>label</key>
			<string>Fuzzy matching scorer</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>scorer</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>Please select the SAPUILandscape.xml</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Path of SAP UI Landscape XML.</string>
			<key>label</key>
			<string>SAP UI Landscape XML</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>SAPUILandscape</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>^(?:.*?)密码密文"(.+?)"$</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Get password(ciphertext) in Memo.</string>
			<key>label</key>
			<string>Regular expression password(ciphertext)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>RegExrPWEnc</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>key</key>
		<string>78811328e0c7003ec4490d07ab090781966b63490a7ed8655ca285f354e7749f12cce8c053ba9874</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0.230805-beta.1</string>
	<key>webaddress</key>
	<string>https://github.com/hsingll/Alfred-SAP-Quick-Login</string>
</dict>
</plist>
